*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

.botao {
    color: white;
    background-color: #f4a261;
    height: 40px;
    width: 350px;
    border-radius: 50px;

}

.botao:hover {
    background-color: #f4a361a8;
}

.botaoHeader {
    color: white;
    background-color: #f4a261;
    height: 40px;
    width: 100px;
    border-radius: 50px;

}

.botaoHeader:hover {
    background-color: #f4a361a8;
}